<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.DebugReminderReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.smartclock.debug.TRIGGER_REMINDER" />
                <action android:name="com.smartclock.debug.SCHEDULE_REMINDER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
